{% from 'navbar.html' import navbar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    />
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {{navbar(current_user)}} {% block content %}{% endblock %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Jeu créé dans le cadre du cours du projet de création d'intelligence
          artificielle du Bloc 3 d'Informatique de gestion à
          <a href="https://henallux.be">Henallux</a>
        </p>
      </div>
    </footer>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/main.js')}}"
    ></script>
    {% block js %}{% endblock %}
  </body>
</html>
