{% extends 'base.html' %}
{% from 'board.html' import board %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/game.css')}}" />
{% endblock %}
{%block content %}
<div>
  <h1 class="title">{%block title %} Partie #{{ game_state.game_id }}{%endblock %}</h1>
  {{board(5)}}
</div>
<!-- modal -->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}
{% block js %}
<script>
  window.gameID = '{{game_state.game_id}}';
  window.boardString = "{{game_state.board}}";
  window.board = [];
  window.players ={{game_state.players}};
</script>
<script src="{{url_for('static', filename='js/game.js')}}"></script>
{% endblock %}
