{% extends 'base.html' %}
{% from 'board.html' import board %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/game.css')}}" />
{% endblock %}
{%block content %}
<div>
  <h1 class="title">{%block title %} Game #{{ game_state.game_id }}{%endblock %}</h1>
  {{board(5)}}
</div>
<div>
  <button class="button is-primary is-large" id="hint" onclick=send_help()>Hint</button>
</div>
 <!-- TODO arriver à mettre le meilleur prochain coup au joueur -->
<!-- modal -->
<div class="modal" id="winner-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <p>The player <span id="winner"></span> has won with <span id="winner-cells"></span> out of <span
          id="board-size"></span> cells</p>
      <p>
        <a class="button is-success" id="goHome" href="/">Go to Home</a>
        <a class="button is-success" id="restart" href="/game">New Game</a>
        <button class="button" id="view-board">Show Board</button>
      </p>
    </div>
  </div>

  <button class="modal-close is-large" id="close-modal" aria-label="close"></button>
</div>
{% endblock %}
{% block js %}
<script>
  window.gameID = '{{game_state.game_id}}';
  window.boardString = "{{game_state.board}}";
  window.board = [];
  window.players = {{ game_state.players }};
  window.winner = {{ game_state.winner }};
</script>
<script src="{{url_for('static', filename='js/game.js')}}"></script>
{% endblock %}