{% extends 'base.html' %}
{% from 'board.html' import board %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/game.css')}}" />
{% endblock %}
{%block content %}
<div>
  <h1 class="title is-1">{%block title %} Game #{{ game_state.game_id }}{%endblock %}</h1>
  <h2 id="winner-subtitle" class="subtitle is-3">
    {% if game_state.winner == 1%}
    You won !
    {% elif game_state.winner == 2 %}
    You loose !
    {% endif %}
  </h2>
  <h2 class="subtitle is-3"></h2>
  <div class="columns">
    <div class="column is-narrow">{{board(5)}}</div>
    {% if AI_info %}
    <div class=" column">
      <h2>Spec</h2>
      <p>{{AI_info}}</p>
    </div>
    {% endif %}
  </div>
</div>
<!-- modal -->
<div class="modal" id="winner-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <p><span id="winner"></span> With <span id="player-cells"></span> out of <span id="board-size"></span> cells</p>
      <p>
        <a class="button is-success" id="goHome" href="/">
          <span class="icon-tet">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span>Go To Home</span>
          </span>
        </a>
        <a class="button is-success" id="restart" href="/game">
          <span class="icon-tet">
            <span class="icon"><i class="fas fa-redo"></i></span>
            <span>New Game</span>
          </span>
        </a>
        <button class="button" id="view-board">
          <span class="icon-tet">
            <span class="icon"><i class="fas fa-border-all"></i></span>
            <span>Show Board</span>
          </span>
        </button>
      </p>
    </div>
  </div>

  <button class="modal-close is-large" id="close-modal" aria-label="close"></button>
</div>
{% endblock %}
{% block js %}
<script>
  window.gameID = '{{game_state.game_id}}';
  window.boardString = "{{game_state.board}}";
  window.board = [];
  window.players = {{ game_state.players }};
  window.winner = {{ game_state.winner }};
</script>
<script src="{{url_for('static', filename='js/game.js')}}"></script>
{% endblock %}