<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet IA</title>
  </head>
  <body>
    <p>Hello World (projet de groupe ^^)</p>
    {% if not current_user.is_authenticated %}
    <button onclick="window.location.href='{{url_for("auth.signup")}}'">Signup</button>
    <button onclick="window.location.href='{{url_for("auth.login")}}'">Login</button>
    {% endif %}
    {% if current_user.is_authenticated %}
    <button
      id="createGameBtn"
      onclick="window.location.href='{{url_for("game.game_create")}}'"
    >
      Créer une partie
    </button>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('auth.logout') }}">
        Logout
    </a>
    {% endif %}
    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
