table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 0px;
  width: 5rem;
  height: 5rem;
  font-weight: bold;
  font-size: 48px;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: rgb(21, 105, 231);
}

.clickable {
  background-color: rgba(255, 0, 0, 0.5);
}
